.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__link{
        color: var(--text-footer);
        font-size: 15px;
    }
    &__link:hover{
        color: var(--primary-bg);
    }
}
.link-with-image{
    display: flex;
    align-items: center;
    gap: 10px;
}