.dropdown-cart {
	padding: 20px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;

	&__price {
		width: 100%;
		margin: 10px 0;
		padding: 15px 0;
		text-align: center;
		color: var(--text-primary);
		border: 1px solid var(--border);
	}
	&__link {
		color: var(--white);
		border-radius: 4px;
		padding: 5px;
		background-color: var(--primary-bg);

		&:hover {
			background-color: var(--red);
		}
	}

	&__item {
		&-link {
			display: flex;
			color: var(--text-input);
		}
		&-img {
			width: 20%;
		}
		&-info {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			justify-content: space-around;
		}

		&-title {
			margin-left: 10px;
			font-size: 14px;
			color: var(--text-input);
		}
	}
}


.red{
	color: var(--red);
}